/*=============== VARIABLES CSS ===============*/
:root {
  --green: #5ece7b;
  --white: white;
  --black: black;
  --gray: #1d1f22;
  --disabled-color: rgb(127, 127, 127);
  --disabled-bg: lightgrey;
  --laila: #645ece;
  --red: #d54343;
}
